body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main-conteiner {
  padding-left: 70px;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 1319px;
  left: -32px;
  top: 52px;
}

/* main content section */

.main-content-secion {
  padding: 0px 25px 40px 25px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

/* about me section */
.about-me-section {
  margin-bottom: 10px;
}
.about-me-proffesion {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 18px;
  color: #071d4b;
  margin-bottom: 20px;
}
.about-me-description {
  width: 500px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* my projects section */

.my-progects-section {
  width: 500px;
  margin-bottom: 20px;
}

.main-content-title {
  margin: 0px;
}

.my-projects-list {
  list-style: none;
  padding: 0px;
}

.my-project-item {
  color: #000;
  font-weight: bold;
}

.my-projects-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.my-projects-aftertext {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.my-projects-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #071d4b;
}

.my-projects-gitlink{
/* font-style: oblique; */
font-style: normal;
text-decoration: none;
color: #000000;
text-decoration: underline;
}

.my-projects-bracket {
  font-style: oblique;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* me work expirience */
.my-work-expirience-section {
  width: 500px;
}
.my-work-expirience-extra {
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}
.my-work-expirience-company {
  color: #071d4b;
}
.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;
}
.my-work-expirience-period {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 0px 0;
}
.my-work-expirience-line {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.my-work-expirience-duties {
  padding: 0 0 0 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.my-work-expirience-comany-block {
  margin: 0 15px 0 0;
}

/* my education section */

.my-education-title {
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.my-education-expirience {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #071d4b;
  margin-bottom: 10px;
}

.my-education-special {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-top: 10px;
}

.my-education-line {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* sidebar section */
.sidebar-section {
  background-color: #205f83;
  width: 370px;
  padding: 40px 0px 0px;
}
.photo {
  display: block;
  width: 368px;
  padding: 1px;
}
.conacts-section,
.tech-skills-section,
.soft-skills-section {
  display: block;
  margin: 15px 0 0 70px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 10px;
}
/* contacts section */
.contact-section-type {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 10px;
}
.contact-section-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 5px;
}

/* skills section */
.skills-list {
  padding: 0 0 0 17px;
  color: #fff;
}
.skills-item {
  color: #ffffff;
}
.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

h4{
  margin: 0px;
  font-size: 14px;
}